SECTION ‘A’ – THEORITICAL QUESTIONS

Q1. What are the most common reasons for missing data in ETL pipelines?

--Missing data can occur due to optional fields in source systems, user input errors, data extraction failures, integration issues between systems, or transformation and parsing errors during ETL.

Q2. Why is blindly deleting rows with missing values considered a bad practice in ETL?

--Deleting rows with missing values can lead to data loss, reduce dataset size, and introduce bias, especially if the missing data is not random. Important business information may be lost.

Q3. Difference between Listwise deletion and Column deletion

•	Listwise deletion: Removes entire rows that contain missing values.
Appropriate when: Only a small number of rows have missing data and the missingness is random.

•	Column deletion: Removes entire columns with many missing values.
Appropriate when: A column has very high missing values and is not important for analysis.

Q4. Why is median imputation preferred over mean imputation for skewed data like income?

--Median is less affected by extreme values, so it provides a more accurate representation of typical income in skewed datasets.

Q5. What is forward fill and in what type of dataset is it most useful?

--Forward fill replaces missing values with the previous available value. It is most useful in time-series data such as financial or sensor data.

Q6. Why should missing values be flagged before imputation in an ETL workflow?

--Flagging helps preserve information about which values were originally missing and allows better analysis and auditing after imputation.

Q7. How can missing income data provide business insights?

--Missing income data may indicate customer privacy concerns, data collection issues, or specific customer segments, which can help improve business decisions and data collection strategies.

SECTION 'B' PRACTICAL QUESTIONS

Q8. Listwise Deletion

Remove all rows where Region is missing.

Tasks:

Identify affected rows

Show the dataset after deletion

Mention how many records were lost

In [ ]:
data = [
    {'Customer ID': 101, 'Name': 'Rahul Mehta', 'City': 'Mumbai', 'Monthly Sales': 12000, 'Income': 65000, 'Region': 'West'},
    {'Customer ID': 102, 'Name': 'Anjali Rao', 'City': 'Bengaluru', 'Monthly Sales': 'NaN', 'Income': 'NaN', 'Region': 'South'},
    {'Customer ID': 103, 'Name': 'Suresh Iyer', 'City': 'Chennai', 'Monthly Sales': 15000, 'Income': 72000, 'Region': 'South'},
    {'Customer ID': 104, 'Name': 'Neha Singh', 'City': 'Delhi', 'Monthly Sales': 'NaN', 'Income': 'NaN', 'Region': 'North'},
    {'Customer ID': 105, 'Name': 'Amit Verma', 'City': 'Pune', 'Monthly Sales': 18000, 'Income': 58000, 'Region': 'NaN'}, # This row has 'NaN' Region
    {'Customer ID': 106, 'Name': 'Karan Shah', 'City': 'Ahmedabad', 'Monthly Sales': 'NaN', 'Income': 61000, 'Region': 'West'},
    {'Customer ID': 107, 'Name': 'Pooja Das', 'City': 'Kolkata', 'Monthly Sales': 14000, 'Income': 'NaN', 'Region': 'East'},
    {'Customer ID': 108, 'Name': 'Riya Kapoor', 'City': 'Jaipur', 'Monthly Sales': 18000, 'Income': 69000, 'Region': 'North'}
]

In [ ]:
cleaned_data = [row for row in data if row['Region'] != 'NaN']

In [ ]:
# 1. Identify affected rows
original_count = len(data)
cleaned_count = len(cleaned_data)
affected_rows = original_count - cleaned_count

print(f"Original number of records: {original_count}")
print(f"Number of records lost: {affected_rows}")

Original number of records: 8
Number of records lost: 1

In [ ]:
# 2. Show the dataset after deletion
print("\nDataset after deletion (remaining records):")
for row in cleaned_data:
    print(row)

Dataset after deletion (remaining records):
{'Customer ID': 101, 'Name': 'Rahul Mehta', 'City': 'Mumbai', 'Monthly Sales': 12000, 'Income': 65000, 'Region': 'West'}
{'Customer ID': 102, 'Name': 'Anjali Rao', 'City': 'Bengaluru', 'Monthly Sales': 'NaN', 'Income': 'NaN', 'Region': 'South'}
{'Customer ID': 103, 'Name': 'Suresh Iyer', 'City': 'Chennai', 'Monthly Sales': 15000, 'Income': 72000, 'Region': 'South'}
{'Customer ID': 104, 'Name': 'Neha Singh', 'City': 'Delhi', 'Monthly Sales': 'NaN', 'Income': 'NaN', 'Region': 'North'}
{'Customer ID': 106, 'Name': 'Karan Shah', 'City': 'Ahmedabad', 'Monthly Sales': 'NaN', 'Income': 61000, 'Region': 'West'}
{'Customer ID': 107, 'Name': 'Pooja Das', 'City': 'Kolkata', 'Monthly Sales': 14000, 'Income': 'NaN', 'Region': 'East'}
{'Customer ID': 108, 'Name': 'Riya Kapoor', 'City': 'Jaipur', 'Monthly Sales': 18000, 'Income': 69000, 'Region': 'North'}

In [ ]:
# 3. Mention how many records were lost
print("\nAffected record details:")
for row in data:
    if row not in cleaned_data:
        print(f"- Customer ID: {row['Customer ID']}, Name: {row['Name']}")

Affected record details:
- Customer ID: 105, Name: Amit Verma

Q9. Imputation

Handle missing values in Monthly_Sales using:

Forward Fill

Tasks:

Apply forward fill

Show before vs after values

Explain why forward fill is suitable here

In [ ]:
# Display initial data
print("--- Monthly Sales: Before Forward Fill ---")
for row in data:
    print(f"ID: {row['Customer ID']} | Sales: {row['Monthly Sales']}")

--- Monthly Sales: Before Forward Fill ---
ID: 101 | Sales: 12000
ID: 102 | Sales: NaN
ID: 103 | Sales: 15000
ID: 104 | Sales: NaN
ID: 105 | Sales: 18000
ID: 106 | Sales: NaN
ID: 107 | Sales: 14000
ID: 108 | Sales: 18000

In [ ]:
# Apply Forward Fill Logic
last_value = None
for row in data:
# If the current value is missing (None), use the last seen value
    if row['Monthly Sales'] is None:
        row['Monthly Sales'] = last_value

In [ ]:
# Apply Forward Fill Logic
last_value = None
for row in data:
    # If the current value is missing ('NaN' string), use the last seen value
    if row['Monthly Sales'] == 'NaN':
        row['Monthly Sales'] = last_value

    # Update the last seen value to the current value (if it exists and is not 'NaN')
    if row['Monthly Sales'] != 'NaN':
        last_value = row['Monthly Sales']

In [ ]:
# Display data after forward fill
print("\n--- Monthly Sales: After Forward Fill ---")
for row in data:
    print(f"ID: {row['Customer ID']} | Sales: {row['Monthly Sales']}")

--- Monthly Sales: After Forward Fill ---
ID: 101 | Sales: 12000
ID: 102 | Sales: 12000
ID: 103 | Sales: 15000
ID: 104 | Sales: 15000
ID: 105 | Sales: 18000
ID: 106 | Sales: 18000
ID: 107 | Sales: 14000
ID: 108 | Sales: 18000

Explanation :

Forward fill is particularly suitable for 'Monthly Sales' data if we assume a
sequential or time-series nature where the most recent known sales figure is
the best estimate for a missing value. This method maintains the order and flow
of the data, which is often crucial for sales or other time-dependent metrics.
It's especially useful when missing values are intermittent and represent a
continuation of a previous trend rather than a completely new, unknown state.

Q10. Flagging Missing Data

Create a flag column for missing Income.

Tasks:

Create Income_Missing_Flag (0 = present, 1 = missing)

Show updated dataset

Count how many customers have missing income

In [ ]:
# Initialize a counter for missing incomes
missing_count = 0

In [ ]:
# Iterate through the data list to add the flag
for row in data:
    # Check if the 'Income' value is missing ('NaN' string)
    if row['Income'] == 'NaN':
        row['Income_Missing_Flag'] = 1  # Set flag to 1 (missing)
        missing_count += 1
    else:
        row['Income_Missing_Flag'] = 0  # Set flag to 0 (present)

In [ ]:
# Show updated dataset (Task 2)
print("--- Updated Dataset with Income_Missing_Flag ---")
for row in data:
    print(f"ID: {row['Customer ID']} | Income: {row['Income']} | Flag: {row['Income_Missing_Flag']}")

--- Updated Dataset with Income_Missing_Flag ---
ID: 101 | Income: 65000 | Flag: 0
ID: 102 | Income: NaN | Flag: 1
ID: 103 | Income: 72000 | Flag: 0
ID: 104 | Income: NaN | Flag: 1
ID: 105 | Income: 58000 | Flag: 0
ID: 106 | Income: 61000 | Flag: 0
ID: 107 | Income: NaN | Flag: 1
ID: 108 | Income: 69000 | Flag: 0

In [ ]:
# Count how many customers have missing income (Task 3)
print(f"\nTotal customers with missing income: {missing_count}")

Total customers with missing income: 6